h1{
	color: #000000;
}
body{
	background-color:#e94f37;
	background-image: url(bkg.png);
}
.redParagraph{ color:#ff0000;

}
p{
	color:#000;
}
h3{
	color:#fff;
	font-family: open sans;
	text-algin: center;
}
img{
	border-radius:25px;
	
}
img:hover{
	border-radius:30px;
	opacity:0.85;
}
o{
	color: #00f;
}
h1{
	color: #fff;
	font-family: Verdana;
	text-algin:center;
}
ul{
	list-style-type:none;
	background-color:none;
	overflow:hidden;

}
ul li{
	float: left;
	text-algin: center;

}
ul li a{
	text-decoration: none;
	display: block;
	width: 75px;
	padding: 14px 15px;
	color:#165bdb;
}
.active{
	font-weight:bold;
	border-bottom:solid 2px #780a0a;
}
body{
	background-image: url(devon larrat.jpg);
	background-size: 100%;






a {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    display: inline-block;
    transition: 0.3s;
}


a:hover {
    background-color:#ffa012; 
    color:#ff8812 white;
    border-radius: 4px;
}


a.active {
    background-color: ##ff8812;
    color: white;
    border-radius: 4px;
}
